.dot_color{
	/*color:#e8ab4e !important;*/
}
.home_color{
	color:#e8ab4e !important;
}
.social_color{
	color: #4286f4 !important;
}
.stream_color{
	color: #a304e5 !important;
}
.trend_color{
	color: orange !important;
}
.events_color{
	color: #f42e2e !important;

}
.ranking_color{
	color: #18a510 !important;
}
.menu_color_1{
	background-color: #1d2127 !important;
}
.menu_color_button_1{
	background-color: #9f39db !important;
}
